/* section buttons */

.button-bt{
    background-color: var(--background-button);
    font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.03em;

text-align: center;
cursor: pointer;

margin-right: 8px;
height: 38px;
padding-left: 22px;
padding-right: 22px;
border: 0;
border-radius: 4px;
}

.button-bt:hover,
.button-bt:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-description{
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: left;
margin: 0;
}

/* Section examples */

.button{
    display: flex;
}

.button.list{

    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 45px;
}

.examples-title{
    display: none;
}

.main-list{
    display: flex;
    flex-wrap: wrap;
}

.main-item{
    margin-right: 30px;
    margin-bottom: 30px;
}

.main-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-item:nth-child(3n+3){
    margin-right: 0;
}

.main-item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.main-wrap{
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.examples-title{
    display: none;
}